# Pandas

## DataFrame Basics

In [1]:
import pandas as pd
import numpy as np

### Creating DataFrame from csv

In [2]:
df = pd.read_csv('data_iris.csv')
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Dataframe attributes

In [3]:
df.shape

(150, 5)

In [4]:
df.size

750

In [5]:
df.ndim

2

In [6]:
df.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
df.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [12]:
df.tail(2)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

### loc, iloc, drop

In [13]:
df.loc[[125, 130]]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
125           7.2          3.2           6.0          1.8  virginica
130           7.4          2.8           6.1          1.9  virginica

In [14]:
df.loc[df['Sepal.Length']==4.9]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
1             4.9          3.0           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
34            4.9          3.1           1.5          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
57            4.9          2.4           3.3          1.0  versicolor
106           4.9          2.5           4.5          1.7   virginica

In [15]:
df.iloc[100]

Sepal.Length          6.3
Sepal.Width           3.3
Petal.Length          6.0
Petal.Width           2.5
Species         virginica
Name: 100, dtype: object

In [16]:
df2 = pd.Series(np.zeros(5), name='zero df')
df2

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: zero df, dtype: float64

In [17]:
df_new = df.drop(['Sepal.Width'], axis=1)
df_new.head(3)

   Sepal.Length  Petal.Length  Petal.Width Species
0           5.1           1.4          0.2  setosa
1           4.9           1.4          0.2  setosa
2           4.7           1.3          0.2  setosa

### rename, inplace=True

In [18]:
df.rename(columns={'Sepal.Width': 'sepal width (cm)'}, inplace=True)
df.head(3)

   Sepal.Length  sepal width (cm)  Petal.Length  Petal.Width Species
0           5.1               3.5           1.4          0.2  setosa
1           4.9               3.0           1.4          0.2  setosa
2           4.7               3.2           1.3          0.2  setosa

### transpose, .T

In [19]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
Sepal.Length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal width (cm),3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
Petal.Length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
Petal.Width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,...,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica

### set_index, reindex, reset_index, sort_index, sort_values

In [20]:
df.set_index('Species')

           Sepal.Length  sepal width (cm)  Petal.Length  Petal.Width
Species
setosa              5.1               3.5           1.4          0.2
setosa              4.9               3.0           1.4          0.2
setosa              4.7               3.2           1.3          0.2
setosa              4.6               3.1           1.5          0.2
setosa              5.0               3.6           1.4          0.2
...                 ...               ...           ...          ...
virginica           6.7               3.0           5.2          2.3
virginica           6.3               2.5           5.0          1.9
virginica           6.5               3.0           5.2          2.0
virginica           6.2               3.4           5.4          2.3
virginica           5.9               3.0           5.1          1.8

[150 rows x 4 columns]

In [21]:
df.reset_index()

,index,Sepal.Length,sepal width (cm),Petal.Length,Petal.Width,Species
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,virginica
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

In [22]:
df.sort_values(by='Sepal.Length')

     Sepal.Length  sepal width (cm)  Petal.Length  Petal.Width    Species
13            4.3               3.0           1.1          0.1     setosa
42            4.4               3.2           1.3          0.2     setosa
38            4.4               3.0           1.3          0.2     setosa
8             4.4               2.9           1.4          0.2     setosa
41            4.5               2.3           1.3          0.3     setosa
..            ...               ...           ...          ...        ...
122           7.7               2.8           6.7          2.0  virginica
118           7.7               2.6           6.9          2.3  virginica
117           7.7               3.8           6.7          2.2  virginica
135           7.7               3.0           6.1          2.3  virginica
131           7.9               3.8           6.4          2.0  virginica

[150 rows x 5 columns]

### add, sub, mul, div

In [23]:
df_s = pd.DataFrame({'angles': [0, 3, 4], 'degrees': [360, 180, 360]}, index=['circle', 'triangle', 'rectangle'])
df_s

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [24]:
df_s['angles'].add(1)

circle       1
triangle     4
rectangle    5
Name: angles, dtype: int64

In [25]:
df_s['degrees'].sub(180)

circle       180
triangle       0
rectangle    180
Name: degrees, dtype: int64

In [26]:
df_s['angles'].div(1)

circle       0.0
triangle     3.0
rectangle    4.0
Name: angles, dtype: float64

### File reading and writing

In [27]:
df_s.to_csv('shape.csv')

## Merge two dataframes
inner, outer, left, right

In [28]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': ['hp', 'mac', 'acer']})
df2 = pd.DataFrame({'C': ['hp', 'mac', 'dell'], 'D': [10, 11, 12]})

df3 = pd.concat([df1, df2], axis=1)
df3.head()

   A  B     C     C   D
0  1  4    hp    hp  10
1  2  5   mac   mac  11
2  3  6  acer  dell  12

In [29]:
df4 = df1.merge(df2, how='inner', on='C')
df4

   A  B    C   D
0  1  4   hp  10
1  2  5  mac  11

In [30]:
df5 = df1.merge(df2, how='left', on='C')
df5

   A  B     C     D
0  1  4    hp  10.0
1  2  5   mac  11.0
2  3  6  acer   NaN

In [31]:
df6 = df1.merge(df2, how='right', on='C')
df6

     A    B     C   D
0  1.0  4.0    hp  10
1  2.0  5.0   mac  11
2  NaN  NaN  dell  12

In [32]:
df7 = df1.merge(df2, how='outer', on='C')
df7

     A    B     C     D
0  1.0  4.0    hp  10.0
1  2.0  5.0   mac  11.0
2  3.0  6.0  acer   NaN
3  NaN  NaN  dell  12.0